:root {
  --home-page-background: #cbaa90;
}

.bg-img {
  background-image: url(../img/Easter.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.card .card-image,
.card .card-image .image img {
  height: 200px;
  width: 250px;
}
.card {
  margin: 0 20px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-content {
  margin-top: auto;
}

.button.navbar-item {
  height: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

.terms-and-conditions {
  color: #2f323d;
  cursor: pointer;
}

.terms-and-conditions:hover {
  text-decoration: underline;
  color: #0c75ff;
}

div .custom-box {
  background-color: var(--home-page-background);
}
.has-border {
    color: white;
    /* Set text color to white */
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    /* Create a black outline around text */
  }

$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$box-padding: 1rem;

// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/

// ? Import bulma, all customizations should live above this line.
// @import "../../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/bulma.scss";